<div style="border: 2px solid palegreen;">
  <!-- <div class="component-title"> <h1>header-component</h1></div> -->
<header class="parallax">

<h1> <span class="span-light parallax">Header</span> Component <span class="subtlt-1"></span></h1>
<!-- ********* ******************* PHOTO ****************************-->
<div class="header-photo">
  <!-- <img src="media/DSC_4162_Square.jpg" /> -->
  <img src="/src/assets/img/YellowDark600pdi.png" />
</div>
<!-- ********* ******************* PHOTO ****************************-->
<h2>
      <a id="typewrt" class="typewrite" data-period="1000"
      data-type='[ "Freelancer." ,"Creative.", "Clever.",
       "Web Develop.","CSS3", "HMTL5", "JavaScript","Design.","Programing", "jQuery",
        "Modelling.","Physics","Data Science...", "Applied Math", "Teaching","MatLab","CSS3",
        "Illustration","Animation.", "Octave","Simulation.", "Digital Nomad",
        "Photography", "Panama", "Front End","CSS3", "BootStrap","JSON","Phyton", "MongoDB", "NoSQL DB" ]'>
        <span class="wrap"></span>
      </a>
    </h2>

<!-- <h2>
          <a id="typewrt" class="typewrite" data-period="1000"
          data-type='[ "Fuck", "1dadad ", " 2asdasdadasdasd", "3 adasdadasd", " 4asdsdasd" ]'>
          data-type='[ "Illustration","Animation.", "Octave","Simulation.", "Digital Nomad",
          "Modelling.","Physics", "Applied Math", "Teaching","MatLab","CSS3",
          "JavaScript","Design.","Programing", "jQuery",
           "Photography", "Panama", "Front End","CSS3", "BootStrap","JSON", "MongoDB", "NoSQL DB" ]'>
            <span class="wrap"></span>
          </a>
        </h2> -->

<i id="downArrow" class="fa fa-arrow-circle-down arrow-Down"></i>
</header>
</div>
