<div class='div-Component'>
  <h1>
    Welcome to <div style='background-color: rgba(1,1,1, 0.2); display: inline;'>{{ title }}</div>
  </h1>

  <div class="container mt-3 fancyBG01">
    <div class="row">
      <div class="div-homeButton col-sm-6">
        <button mat-raised-button color="warn" type=button (click)='setNewRobo()'> Robo </button>
        <p class="button-caption">
          Robbery taking of property that <span>does involve</span> <em>person-to-person</em> interaction
          with <span>force</span>, <span>intimidation</span>, and/or <span>coercion</span>.
        </p>
      </div>
      <div class="div-homeButton col-sm-6">
        <button mat-raised-button color="accent" type=button (click)='setNewHurto()'> Hurto </button>
        <p class="button-caption">
          Theft is a taking of property that does not involve person-to-person interaction.
          A person merely takes property that does not belong to him.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="div-homeButton col-sm-6">
        <button mat-raised-button color="warn" type=button (click)='setNewRobo()'> Robo </button>
        <p class="button-caption">
          Robbery taking of property that <span>does involve</span> <em>person-to-person</em> interaction
          with <span>force</span>, <span>intimidation</span>, and/or <span>coercion</span>.
        </p>
      </div>
      <div class="div-homeButton col-sm-6">
        <button mat-raised-button color="accent" type=button (click)='setNewHurto()'> Hurto </button>
        <p class="button-caption">
          Theft is a taking of property that does not involve person-to-person interaction.
          A person merely takes property that does not belong to him.
        </p>
      </div>
    </div>
  </div>


  <div class='matGridShit fancyBG01'>

    <mat-grid-list cols="2" rowHeight="14em">
      <mat-grid-tile class="matGridTile">
        <div>
          <button mat-raised-button color="warn" type=button (click)='setNewRobo()'>
            Robo </button>
          <p class="button-caption">
            Robbery taking of property that <span>does involve</span> <em>person-to-person</em> interaction
            with <span>force</span>, <span>intimidation</span>, and/or <span>coercion</span>.
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="matGridTile">Robo</mat-grid-tile>
      <mat-grid-tile class="matGridTile">Mascotas</mat-grid-tile>
      <mat-grid-tile class="matGridTile">Acoso</mat-grid-tile>
      <mat-grid-tile class="matGridTile">Perdidos</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
      <mat-grid-tile class="matGridTile">1</mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
